<div class="modal-header">
    <div class="close-button pull-right" ng-click="$dismiss('cancel')">&times;</div>
</div>
<div class="modal-body">
    <p class="small-font">
        *Terms and conditions vary for each package. For complete details on individual packages, call 1-800-647-2251. Each Package is per person and must be purchased by each guest occupying a stateroom. Some Packages are limited to double occupancy. Package is subject to availability and may sell out. Packages include Offer Cruise, 3 nights stay in a 4-star hotel (selected by Celebrity Cruises), full-day city highlights tour, and half-day event with evening dinner, Internet usage terms apply]. The following Package Cancellation schedule and fees apply (days prior to travel departure date): 180 or more days = no penalty; 120 to 180 days = $450; 90 to 119 days = 25% of total price less taxes and fees; 60 to 89 days = 50% of total price less taxes and fees; 21 to 59 days = 80% of total price less taxes and fees; and 21 days or less = No refund less taxes and fees.
    </p>
    <p class="small-font">
        Package components cannot be substituted or changed, and are non-refundable and non-transferrable. Unless stated otherwise, Package applies to new individual bookings, may be combinable with other price programs, promotions or discounted rates (visit celebritycruises.com for combinable offers), and may be withdrawn at any time. Single occupancy guests are eligible for Package, subject to additional charge. Celebrity Cruises reserves the right to correct any errors, inaccuracies, or omissions and to change or update fares, fees, and surcharges at any time without prior notice. Refer to the
        <a href="http://www.celebritycruises.com/media/en_US/pdf/cruise_ticket_contract/Celebrity_Ticket_Contract_3_28_11.pdf" target="_blank">Cruise Ticket Contract</a> for additional terms and conditions.
    </p>
</div>
